# Laravel
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitkeep
.env
.env.backup
.env.production
.phpunit.result.cache

# Dependencies
/vendor/
/node_modules/
/composer.lock
/package-lock.json
/yarn.lock

# Frontend
/public/build/
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json

# IDE
.DS_Store
.fleet/
.idea/
.nova/
.vscode/
.zed/
.phpactor.json

# OS
Thumbs.db
*.log
*.swp
*.swo
*~

# Misc
Homestead.json
Homestead.yaml
auth.json
